<app-navbar></app-navbar>
<app-header></app-header>
<br><br>
<br><br>
<br><br>

<div class="container bootstrap snippets bootdeys">
    <div class="row">
        <div class="col-md-4 col-sm-6 content-card">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="blue" data-radius="none">
                    <div class="content">
                        <h6 class="category">Quiz</h6>
                        <h4 class="title"><a routerLink="/quiz2">AWS</a></h4>
                        <p class="description">The test is available</p>
                    </div>
                </div> <!-- end card -->
            </div>
        </div>
        
      <!--  <div class="col-md-4 col-sm-6 content-card">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="green" data-radius="none">
                    <div class="content">
                        <h6 class="category">Azure</h6>
                        <h4 class="title"><a href="#">Green Card</a></h4>
                        <p class="description">The test is available </p>
                    </div>
                </div> 
            </div>
        </div>
        
        <div class="col-md-4 col-sm-6 content-card">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="yellow" data-radius="none">
                    <div class="content">
                        <h6 class="category">Best cards</h6>
                        <h4 class="title"><a href="#">Yellow Card</a></h4>
                        <p class="description">The test is available </p>
                    </div>
                </div>  
            </div>
        </div>-->
    </div>
    </div>
    <br>
        <app-footer></app-footer>