
<div class="container" >
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addtest" style="float: right;">
      Add Test
    </button>
  </div>
    <br><br>
  <div>
  <table class="table table-striped" >
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Dscription</th>
        <th scope="col">Score</th>
        <th scope="col">Questions</th>
        <th scope="col">Answers</th>
        <th scope="col">Assesment</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
       <tr>
       <th scope="row">1</th>
        <td>Sql</td>
        <td>sql test</td>
        <td>4/4</td>
        <td>4</td>
        <td>4</td>
        <td>Fullstack</td>
        <td>
          <div class="d-grid gap-2 d-md-flex justify">
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#updatetest">Update</button>
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deletetest">Delete</button>
        </div>
      </tr>
     <tr>
        <th scope="row">2</th>
         <td>AWS</td>
         <td>AWS test </td>
         <td>1/1</td>
         <td>1</td>
         <td>1</td>
         <td>Cloud engineer</td>
         <td>
           <div class="d-grid gap-2 d-md-flex justify">
           <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#updatetest">Update</button>
           <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deletetest">Delete</button>
         </div>
       </tr>
    </tbody>
  </table>
</div>
  <!-- ModalAdd -->
  <div class="modal fade" id="addtest" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Add Test</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Title</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Dscription</label>
              <input type="text" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Score</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
           
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Questions</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"><br>
              <input type="button" class= "btn btn-lg btn-warning" value="(+) " click="addRowToTable()" />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Answers</label>
           
              <input type="text" class="form-control" id="exampleInputPassword1"><br>
              <input type="button" class= "btn btn-lg btn-warning" value="(+) " click="addRowToTable()" />
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Assesment</label>
            <select class="form-select" aria-label="Default select example">
              <option selected>...</option>
              <option value="1">Fullstack</option>
              <option value="1">Cloud engineer</option>
            </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>
  <!-- ModalUpdate -->
  <div class="modal fade" id="updatetest" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Update Test</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Title</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Dscription</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Score</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Questions</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Assesment</label>
            <select class="form-select" aria-label="Default select example">
              <option selected>...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>
  <!-- ModalDelete -->
  <div class="modal fade" id="deletetest" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Delete Test</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="alert alert-danger" role="alert">
                Delete !
              </div>
            
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>